<h3>Excel Database</h3>

<hr />

<div id='container'>
	<div id='clist'>
		<% @consumers.each do |consumer| %>
			<%= link_to consumer.name, consumer_path(consumer) %> <br>
		<% end %>
	</div> 
	<div id='cinfo'> </div>
</div> 
<br />


<%= link_to 'New Consumer', new_consumer_path %>
