html {
  width: 1024px;
  margin:auto;
}

body { background-color: #fff; color: #333; }


body, p, ol, ul, td {
  font-family: inconsolata, verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#navlinks {
  text-align: right;
}

#newc {
  clear: both;
}

#clist {
  border: 1px solid #BAD0EF;
  width: 260px;
  padding: 8px 8px 8px 8px;
  float: left;
}

#clist a{
  text-decoration: none;
  padding: 4px 4px 4px 4px;
  color: #2966B8;
}

#clist a:hover { 
  color: #fff; 
  background-color: grey;
  padding: 1px 1px 1px 1px;

}

#cinfo {
  border: 1px solid #BAD0EF;
  width: 700px;
  padding: 8px 8px 8px 8px;
  float: right;
  top: 130px;
}

#prodtab {
  border: 1px dotted #BAD0EF;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  min-width: 698px;
}


#custtab {
  border: 1px dotted #BAD0EF;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  min-width: 698px;
}

.ui-menu {
  background-color: #c0c99f;
  width:260px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border:1px solid #6a6c6a;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


